@media(max-width: 1600px) {

    .features-section .grid-top-left img{
        width: 100%;
    }

    .features-section .grid-bottom-right img{
        width: 100%;
    }

    .directory-section a {
        font-size: 35px;
    }


}