@media(max-width: 500px){

    .home h1 {
        font-size: 38px;
    }

    .home .image-container {
        min-width: 300px;
    }

    .gallery ul li:nth-of-type(3) {
        display: none;
    }

    .gallery li {
        width: 100%;
    }

    .text-container.grid-top-right {
        padding: 3rem 0rem 0rem;
    }
    
    .text-container.grid-bottom-left {
        padding: 0rem 0rem 3rem;
    }

    .directory-section a {
        font-size: 28px;
    }

    .vacation-section .image-container img {
        height: 30vh;
    }
}